@import "./screens/login/login.css";
@import "./screens/register/register.css";

:root {
  --primary: #84b6f4;
  --secondary: #f4fab4;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}